{% extends '@Admin/admin_base.html.twig' %}

{% block title %}
    Admin - {{ parent() }}
{% endblock %}

{% block content %}
    <h2>Admin content</h2>
    <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>

    {{ sg_datatables_render(datatable) }}
{% endblock %}
