<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link type="text/css" href="{{ asset('dist/app.css') }}">
    </head>
        {% block body %}{% endblock %}

        <script type="application/javascript" src="{{ asset('dist/vendor_bundle.js') }}"></script>
        <script type="application/javascript" src="{{ asset('dist/app_bundle.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
